/* ******
Layout mobile first
  Notes: 1rem = 16px
  Sort alphabetically except html and body
****** */

/* ****** Custom Properties ****** */
:root{
  --first-color: #2B79BD;
  --second-color: #90B4CE;
  --third-color: #EF4565;
  --white-color: #FFFFFE;
  --text-color: #5F6C7B;
  --title-color: #094067;
  --background-alpha-color: rgba(36, 38, 41, 0.5);
  --background-dark-color: #242629;
  --background-button-color: #EAF0F3;
  --button-color: #3DA9FC;

  --font: "Rubik", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ****** Reset ****** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  /* Trancistion with css */
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* avoid scroll bar */
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--background-dark-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 4.5rem;
  color: var(--title-color);
}

h2 {
  margin: 0;
  font-size: 4rem;
  color: var(--title-color);
}

h3 {
  margin: 0;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
}

h5 {
  margin: 0;
  font-size: 1.25rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  /* responsive image (image adapts to container)*/
  max-width: 100%;
  height: auto;
}

p {
  line-height: 27;
}

/* ****** Components ****** */

/* ****** Menu ****** */
.menu-btn {
  border: 0;
  cursor: pointer;
}

/* Change color of icons svg */
.menu-btn svg {
  stroke: var(--first-color);
}

.menu {
  position: fixed;
  padding-bottom: 5px;
  left: 0;
  top: var(--header-height);
  width: 100%;
  height: 36rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-alpha-color);
  /* add class for JS */
  opacity: 0;
  /* Do not react to the interactive of the element */
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--second-color);
  background-color: var(--white-color);
}

.menu a:hover {
  color: var(--first-color);
  opacity: 1;
}

/* ****** Utilities ****** */
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.none {
  display: none;
}
/* ****** Site Styles ****** */
.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 990;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--background-button-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--second-color);
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}