/* ******
Layout mobile first
  Notes: 1rem = 16px
  Sort alphabetically except html and body
****** */

/* ****** Custom Properties ****** */
:root{
  --first-color: #2B79BD;
  --second-color: #90B4CE;
  --third-color: #EF4565;
  --white-color: #FFFFFE;
  --text-color: #5F6C7B;
  --title-color: #094067;
  --background-alpha-color: rgba(36, 38, 41, 0.5);
  --background-dark-color: #242629;
  --background-button-color: #EAF0F3;
  --button-color: #3DA9FC;

  --font: "Rubik", sans-serif;
  --max-width: 1200px;
  --header-height-movil: 4rem;
  --header-height-desktop: 6.0625rem;
}

/* ****** Reset ****** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  /* Trancistion with css */
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* avoid scroll bar */
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--white-color);
}

a {
  color: var(--background-dark-color);
  transition: all 0.3s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 4.5rem;
  color: var(--title-color);
}

h2 {
  margin: 0;
  font-size: 4rem;
  color: var(--title-color);
}

h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--title-color);
}

h4 {
  margin: 0;
  font-size: 1.5rem;
}

h5 {
  margin: 0;
  font-size: 1.25rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  /* responsive image (image adapts to container)*/
  max-width: 100%;
  height: auto;
}

p {
  line-height: 27px;
}

.text-regular {
  font-weight: 400;
  font-size: 0.875rem;
}

/* ****** Components ****** */

/* ****** Menu ****** */
.menu-btn {
	height: 100%;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

/* Change color of icons svg */
.menu-btn svg {
  stroke: var(--first-color);
	fill: var(--first-color);
}

.menu {
  position: fixed;
  padding-bottom: 5px;
  left: 0;
  top: var(--header-height-movil);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-alpha-color);
  /* add class for JS */
  opacity: 0;
  /* Do not react to the interactive of the element */
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu ul {
	margin: 0;
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
  background-color: var(--white-color);
}

.menu a {
  padding: 0 0 2.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--second-color);
}

.menu a:last-child {
	padding-bottom: 0;
}

.menu a:hover {
  color: var(--first-color);
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
		position: sticky;
		padding: 0;
		top: 0;
    width: 30rem;
		height: 2rem;
    opacity: 1;
    pointer-events: auto;
  }

	.menu ul {
		padding: 0;
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.menu a {
		padding: 1rem 1rem;
		font-size: calc(1rem - 2px);
	}

  .menu a:hover {
    border-bottom: 4px solid;
  }

	.menu a:last-child {
		padding-bottom: 1rem;
	}
}

/* ****** Utilities ****** */
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}
/* ****** Site Styles ****** */


.home {
  height: 100vh;
  width: 100%;
  padding: 2rem 1.375rem;
}

.home-container {
  min-width: 316px;
}

.home-container h1 {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--title-color);
}

.home-container > img {
  height: 4rem;
  width: 4rem;
}

.home-description {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 990;
  padding: 1.25rem 1.375rem;
  width: 100%;
  height: var(--header-height-movil);
  background-color: var(--white-color);
}

.header > .container {
	height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--second-color);
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

.home-btn {
  border-radius: 0.25rem;
  padding: 0.75rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.1875rem;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--button-color);
}

.project {
  height: 100vh;
}

/* ****** Descktop version ****** */
@media screen and (min-width: 1024px) {
	.header {
		padding: 2rem 5.5625rem;
		height: var(--header-height-desktop);
	}

  .home {
    padding: 5rem 0;
    height: 100vh;
  }

  .home-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }

  .home-container div {
    width: 14.75rem;
  }

  .home-container {
    width: 646px;
    margin: auto;
  }

  .home-container h1 {
    margin: 0;
    font-size: 4.5rem;
    color: var(--title-color);
  }

	.project {
		height: 100vh;
	}

  .text-regular {
    font-size: 1.125rem;
  }
}